<div class="container", id = "link">
  <%= link_to "Back to services", services_path, class: "btn btn-info", id: "service_services_list" %>
</div>
<div class="container padded">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1><%= @service.name %></h1>
      <ul class="list-unstyled">
        <li><%= @service.description %></li>
        <li>£<%= number_with_precision(@service.daily_rate, precision: 2) %> per day</li>
      </ul>
      <%= link_to "Book me!", "#", class: "btn btn-success", data: { toggle: "modal", target:"#bookingModal"} %>
    </div>
  </div>
</div>

<div class="flex-box-centered">
<% @sum = 0 %>
<% @service.reviews.each do |review| %>
  <% @sum += review.rating %>
<% end %>
<% average = @sum / @service.reviews.size %>
<div class="container" id="average_rating">
<%= link_to "Write a review", booking_path(@service), class: "btn btn-info" %>
<h2 id="rating_title">Average ratings</h2>
<%= 5.times do |a| %>
  <% if a < average %>
    <%= image_tag "honey.svg", id: "rating" %>
  <%else%>
    <%= image_tag "honey2.svg", id: "rating" %>
  <%end%>
<%end%>
</div>
</div>

<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title text-center" id="bookingModalLabel"><strong>New booking for <%= @service.name %></strong></h5>
      </div>
      <div class="modal-body">
        <%= render 'form', start_date: nil, end_date: nil %>
      </div>
    </div>
  </div>
</div>

