<div class="container padded">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1><%= @service.name %></h1>
      <ul class="list-unstyled">
        <li><%= @service.description %></li>
        <li>£<%= number_with_precision(@service.daily_rate, precision: 2) %> per day</li>
      </ul>
      <%= link_to "Book me!", "#", class: "btn btn-success", data: { toggle: "modal", target:"#bookingModal"} %>

      <%= link_to "Back to the services", services_path, class: "btn btn-info" %>
    </div>
  </div>
</div>

<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="bookingModalLabel">New booking for <%= @service.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'bookings/form', start_date: nil, end_date: nil %>
      </div>
    </div>
  </div>
</div>

