<div class= "text-center">
<%= simple_form_for [@service, @booking] do |f| %>
  <%= f.input :start_date, as: :string, input_html: { class: "datepicker start", value: start_date } %>
  <%= f.input :end_date, as: :string, input_html: { class: "datepicker end", value: end_date } %>
  <%= f.submit class: "btn btn-success" %>
<% end %>

<%= link_to "Cancel this booking", cancel_booking_path(@booking), method: :patch, class: "btn btn-warning" %>

<%# link_to "Cancel this booking", booking_path(@booking, booking: { order_status: "Cancelled" }), method: :patch, class: "btn btn-warning" %>

<%# start_d = @booking.start_date.to_s.gsub('-', '/').reverse %>
<%= content_for(:after_js) do %>
<script>
  $(".datepicker").datepicker({
    autoclose: true,
    format: "dd-mm-yyyy",
  });

  // $(".start").datepicker("setDate", "05/06/2017")
  // $(".end").datepicker("setDate", "")
  </script>
<% end %>
</div>
