<div class="container padded text-center">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= simple_form_for [@service, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.input :order_status, collection: ["Pending", "Awaiting Payment", "Completed", "Declined", "Accepted"] %>
        <%= f.submit class: "btn btn-warning"%>
      <% end %>
    </div>
  </div>
</div>
