<h2>New booking</h2>
<%= simple_form_for [@service, @booking] do |f| %>
<%= f.input :start_date %>
<%= f.input :end_date %>
<%= f.input :order_status %>
<%= f.input :total_cost %>
<%= f.submit %>
<% end %>
