<div class="container">
  <div class="text-center">
    <h2><%= @booking.service.name %></h2>
  </div>

  <ol class="progress-tracker">
    <li class="step completed"><a href="#" class="step-name">Login</a></li>
    <li class="step active"><a href="#" class="step-name">Confirm order</a></li>
    <li class="step"><span class="step-name">Payment</span></li>
  </ol>

  <div class="container">
    <div class="row">
      <div class="col-xs12 col-sm-6">
        <h3>Booking Status: <%= @booking.order_status %></h3>
          <ul class="list-unstyled">
            <li>Category: <%= @booking.service.category %></li>
            <li>Booking Start Date: <%= @booking.start_date %></li>
            <li>Booking End Date: <%= @booking.end_date %></li>
            <li>Daily Rate: £<%= @booking.service.daily_rate %></li>
            <li>Days: <%= (@booking.end_date - @booking.start_date).to_i %></li>
            <li>Total: £<%= @booking.total_cost %></li>
          </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
      <h3>Vendor Details:</h3>
        <ul class="list-unstyled">
          <li>
            <%= @booking.service.user.first_name %>
            <%= @booking.service.user.last_name %>
          </li>
          <li><%= @booking.service.user.email %></li>
          <li><%= @booking.service.user.phone_number %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container text-center">
    <%= link_to 'View all my bookings', bookings_path, class:"btn btn-primary" %>
    <%= link_to 'Modify This Booking', "#", class:"btn btn-info", data: { toggle: "modal", target:"#updateModal"} %>
  </div>
</div>


<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel"><strong>Edit this booking</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form', start_date: I18n.localize(@booking.start_date), end_date: I18n.localize(@booking.end_date) %>
      </div>
    </div>
  </div>
</div>

